As I already mentioned, our AST will be consisted of 3 node types, which means that we will have to create an ENUM that will contain the values `element`, `props` and `value`. This way the node types won't be hardcoded and patching the code can be very easy:

{{{diffStep 1.1}}}

Since we had 3 node types, it means that for each of them we should have a dedicated parsing function:

{{{diffStep 1.2}}}

Each function creates the basic node type and returns it. Note that at the begnning of the scope of each function I've defined a couple of variables:

- `let match` - which will be used to store regular expression matches on the fly.
- `let length` - which will be used to store the length of the match so we can trim the JSX code string right after and accumulate it in `node.length`.

For now the `parseValue()` function is pretty straight forward and just returns a node which wraps the given string.

We will begin with the implementation of the element node and we will branch out to other nodes as we go. First we will try to figure out the name of the element. If an element tag opener was not found, we will assume that the current part of the code is a value:

{{{diffStep 1.3}}}

Up next, we need to parse the props. To make things more efficient, we will need to first find the tag closer so we can provide the `parseProps()` method the relevant part of the string:

{{{diffStep 1.4}}}

Now that we've plucked the right substring, we can go ahead and implement the `parseProps()` function logic:

{{{diffStep 1.5}}}

The logic is pretty straight forward - we iterate through the string, and each time we try match the next key->value pair. Once a pair wasn't found, we return the node with the accumulated props. Note that providing only an attribute with no value is also a valid syntax which will set its value to `true` by default, thus the `/ *\w+/` regexp. Let's proceed where we left of with the element parsing implementation.

We need to figure out whether the current element is self closing or not. If it is, we will return the node, and otherwise we will continue to parsing its children:

{{{diffStep 1.6}}}

Accordingly, we're gonna implement the children parsing logic:

{{{diffStep 1.7}}}

Children parsing is recursive. We keep calling the `parseElement()` method for the current substring until there's no more match. Once we've gone through all the children, we can finish the process by finding the closing tag:

{{{diffStep 1.8}}}

The HTML parsing part is finished! Now we can call the `parseElement()` for any given HTML string and we should get a JSON output which represents an AST, like the following:

```json
{
  "type": "element",
  "props": {
    "type": "props",
    "length": 20,
    "props": {
      "onclick": "onclick()"
    }
  },
  "children": [
    {
      "type": "element",
      "props": {
        "type": "props",
        "length": 15,
        "props": {
          "src": "icon.svg"
        }
      },
      "children": [],
      "length": 18,
      "name": "img"
    },
    {
      "type": "element",
      "props": {
        "type": "props",
        "length": 0,
        "props": {}
      },
      "children": [
        {
          "type": "value",
          "length": 4,
          "value": "text"
        }
      ],
      "length": 12,
      "name": "span"
    }
  ],
  "length": 74,
  "name": "div"
}
```
